<!DOCTYPE html>
<html>
<head>
    <title>Location App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/images/logo.jpeg/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body id="body">
    <center><h2>HRTC Pilot List</h2></center>
    <button type="button" class="btn btn-warning" id="backButton">Back</button><br><br>

    <table style="width:100%">
        <tr>
            <th>Sr. No.</th>
            <th>Name</th>
            <th>Online</th>
            <th>Current Bus</th>
            <th>Contact</th>
            <th>Username</th>
            
        </tr>
        {% for item in data %}
            <tr>
                <td>{{item['name']}}</td>
                <td class="onlineStatus">{{item['online']}}</td>
                <td>{{item['currentBus']}}</td>                
                <td>{{item['contact']}}</td>
                <td>{{item['username']}}</td>
            </tr>
        {% endfor %}
    </table>   

    <!-- Include the script.js file -->
    <script src="/static/js/show.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var rows = document.querySelectorAll("table tr");
            var serialNumber = 1; // Initialize the serial number counter

            // Loop through each row starting from index 1 (skip header row)
            for (var i = 1; i < rows.length; i++) {
                var cell = document.createElement("td"); // Create a new cell
                cell.textContent = serialNumber++; // Set the serial number and increment
                rows[i].insertBefore(cell, rows[i].firstChild); // Insert cell as the first column
            }
        });
    </script>
</body> 
</html>    